.reg{
    display: flex;
   
    justify-content: center;
    
   
   
    width: 100%;
    height: 100vh;
}
form{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding:20px;

    
}
label,button{
    margin-top: 20px;
    margin-bottom: 10px;
    
}
input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    width: 100px;
}

#submit{
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    width: 200px;
    margin-right: 10px;
    background-color: green;
}