.table{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 50px;
  }

table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #535252;
  padding: 10px 5px;
  text-align: left;
}


tr:hover {
  background-color: #a2a0a0;
}

@media screen and (max-width: 600px) {
  table {
    font-size: 14px;
  }

  th, td {
    padding: 8px;
  }
}
.edit{
    padding: 5px 10px;
    background-color: green;

}

.delete{
    padding: 5px 10px;
    background-color: red;
}

